marathon
slackclient
Django<1.9
django-filter
djangorestframework
pytz
djangorestframework-recursive
factory-boy
requests
django-debug-toolbar
django-python3-ldap
bottle
django-jenkins
coverage
django-nose
nose
